.single-view-table th{
    width: 150px;
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999999;
    width: 100%;
    height: 100%;
    opacity: .6;
    display: none;
}

.preloader img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.w-30{
    width: 30%;
}

.user_pcard{
    position: absolute;
    right: 70px;
    top: 90px;
    max-width: 400px;
    text-align: center;
}

.profile_tab{
    min-height: 550px;
}
